.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
  background-image: url("../../assets/img/cerca-de-veterinario-cuidando-perro.jpg") no-repeat center center/cover;
  position: relative;
}

.login-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-container {
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}


.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #2d4739;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #1ab1e4;
  outline: none;
}

.login-form .btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  font-size: 1rem;
}
