
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #222;
  line-height: 1.6;
}


header {
  background: #fff;
  padding: 20px 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d4739;
}
.logo span {
  color: #1ab1e4 ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.nav-links a:hover,
.nav-links a.active {
  color: #ff9f1c;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.btn.primary {
  background: #1ab1e4;
  color: #fff;
}
.btn.secondary {
  border: 2px solid #1ab1e4;
  color: #1ab1e4;
}
.btn:hover {
  opacity: 0.8;
}


.hero {
  display: flex;
  background-image: url('../../assets/img/cerca-de-veterinario-cuidando-perro.jpg');
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

/* background: url("img/cerca-de-veterinario-cuidando-perro.jpg") no-repeat center center/cover; */

.hero-text {
  max-width: 50%;
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.about {
  background: #0c566e;
  color: #fff;
  text-align: center;
  padding: 60px 50px;
}
.about h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.about-img img {
  max-width: 250px;
  border-radius: 15px;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  background: #fff;
  color: #222;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
}
.card a {
  color: #ff9f1c;
  font-weight: bold;
  text-decoration: none;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  background: #f2fdf6;
}
.services-text {
  flex: 1;
}
.services-text h2 {
  margin-bottom: 15px;
  color: #2d4739;
}
.services-text ul {
  list-style: disc;
  margin-left: 20px;
}
.services-img img {
  max-width: 250px;
}
.services-box {
  flex: 1;
  background: #1ab1e4;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
}
.services-box a {
  display: inline-block;
  margin-top: 15px;
}

footer {
  background: #0e3744;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #1ab1e4;
}


