<section class="hero">
    <div class="hero-text">
      <h1>Cuidamos de tus mascotas como de nuestra familia</h1>
      <p>Servicios veterinarios profesionales, desde consultas hasta cirugías especializadas. ¡Tu mascota en las mejores manos!</p>
      <div class="hero-buttons">
        <!-- <a routerLink="#conocenos" class="btn primary">Especialidades</a> -->
        <a routerLink="reservas" class="btn secondary">Reserva tu cita</a>
      </div>
    </div>
  </section>


  <section id="conocenos" class="about">
    <h2>Nuestros Servicios y Especialidades</h2>
    <p>En PawCare ofrecemos atención integral y especializada para cada etapa de la vida de tu mascota.</p>
    <div class="about-content">
      <div class="cards">
        <div class="card">
          <h3>Medicina General</h3>
          <p>Consultas médicas, vacunación, desparasitación y controles de rutina.</p>
        </div>
        <div class="card">
          <h3>Especialidades</h3>
          <p>Dermatología, oftalmología, cardiología y ortopedia para mascotas.</p>
        </div>
        <div class="card">
          <h3>Cirugía</h3>
          <p>Cirugías menores y mayores con equipos modernos y personal capacitado.</p>
        </div>
        <div class="card">
          <h3>Emergencias 24/7</h3>
          <p>Atención de urgencias en cualquier momento del día.</p>
        </div>
      </div>
    </div>
  </section>
